div#inviteFormContainer {
    max-width: 400px;
    margin: 0 auto 1.5em auto;
}

form#inviteForm p.fieldLabel {
    font-size: 1.1em;
    font-weight: bold;
}

form#inviteForm input.textField {
    width: 100%;
    font-size: 1.1em;
}

input.buttonLink {
    width: 200px;
}
