div.settingsFormContainer {
    max-width: 600px;
    margin: 0 auto 1.5em auto;
}

form.settingsForm p.fieldLabel {
    font-size: 1.1em;
    font-weight: bold;
}

form.settingsForm input.textField {
    width: 100%;
    font-size: 1.1em;
}

input.buttonLink {
    width: 200px;
}
